<div class="container">

  <% if !@incoming_bookings.empty? %>
  <div class="d-flex justify-content-center">
    <h1><%= current_user.username %>, here are your incoming bookings</h1>
  </div>
  <% @incoming_bookings.each do |booking| %>
    <div class="card-booking my-4">
      <% if booking.jetpack.photo.attached? %>
        <%= cl_image_tag booking.jetpack.photo.key, height: 120, crop: :fill, class: "card-img-top" %>
      <% else %>
        <img class="card-img-top" src=<%= image_path('default.jpg') %> alt="Default jetpack picture">
      <% end %>
      <div class="card-booking-infos w-100 h-100 row">
        <div class="col-5">
          <h2 class="mb-4"><%= booking.jetpack.title %></h2>
          <p>Booking status: <%= booking.status %></p>
        </div>
        <div class="col-5">
          <h2 class="mb-4"><%= booking.comment %></h2 >
          <p><%= booking.booking_date %></p>
        </div>
        <div class="col-2">
          <% if booking.pending? %>
            <%= simple_form_for booking do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
            <%= f.submit 'Accept', class: 'btn btn-success mt-n4', data: { turbo_confirm: 'Are you sure?' } %>
            <% end %>

            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.submit 'Reject', class: 'btn btn-danger', data: { turbo_confirm: 'Are you sure?' } %>
            <% end %>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>

   <% if !@outgoing_bookings.empty? %>
  <div class="d-flex justify-content-center">
    <h1><%= current_user.username %>, here are your upcoming bookings</h1>
  </div>
   <% else %>
  <div class="d-flex flex-column justify-content-center">
      <h1 class="text-center"><%= current_user.username %>, you have no bookings.</h1>

      <%= link_to "See Jetpacks", jetpacks_path, class: "btn btn-purple d-inline text-center m-auto" %>
  </div>
   <% end %>

  <% @outgoing_bookings.each do |booking| %>
    <div class="card-booking my-4">
      <% if booking.jetpack.photo.attached? %>
        <%= cl_image_tag booking.jetpack.photo.key, height: 120, crop: :fill, class: "card-img-top" %>
      <% else %>
        <img class="card-img-top" src=<%= image_path('default.jpg') %> alt="Default jetpack picture">
      <% end %>
      <div class="card-booking-infos w-100 h-100 row">
        <div class="col-5">
          <h2 class="mb-4"><%= booking.jetpack.title %></h2>
          <p>Booking status: <%= booking.status %></p>
        </div>
        <div class="col-4">
          <h2 class="mb-4 text-truncate"><%= booking.comment %></h2 >
          <p><%= booking.booking_date %></p>
        </div>
        <div class="col-3">
          <div class="d-flex justify-content-end">
            <%= link_to "Details", jetpack_path(booking.jetpack), class: "btn btn-secondary mb-4" %>
          </div>
          <div class="d-flex justify-content-end">
            <%= link_to "", edit_booking_path(booking), class: "mx-2 fa-solid fa-pen-to-square text-warning" %>
            <%= link_to "", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "mx-2 fa-solid fa-trash-can text-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
