<div class="container">
  <div class="d-flex justify-content-center">
    <h1><%= current_user.username %>, here are your incoming bookings</h1>
  </div>

  <% if !@incoming_bookings.empty? %>
  <% @incoming_bookings.each do |booking| %>
    <div class="card-booking my-4">
      <% if booking.jetpack.photo.attached? %>
        <%= cl_image_tag booking.jetpack.photo.key, height: 120, crop: :fill, class: "card-img-top" %>
      <% else %>
        <img class="card-img-top" src=<%= image_path('default.jpg') %> alt="Default jetpack picture">
      <% end %>
      <div class="card-booking-infos w-100 h-100 row">
        <div class="col-5">
          <h2 class="mb-4"><%= booking.jetpack.title %></h2>
          <p>Booking status: <%= booking.status %></p>
        </div>
        <div class="col-5">
          <h2 class="mb-4"><%= booking.comment %></h2 >
          <p><%= booking.booking_date %></p>
        </div>
        <div class="col-2">
          <% if booking.pending? %>
            <%= simple_form_for booking do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
            <%= f.submit 'Accept', class: 'btn btn-success mt-n4', data: { turbo_confirm: 'Are you sure?' } %>
            <% end %>

            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.submit 'Reject', class: 'btn btn-danger', data: { turbo_confirm: 'Are you sure?' } %>
            <% end %>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>

  <div class="d-flex justify-content-center">
    <h1><%= current_user.username %>, here are your upcoming bookings</h1>
  </div>

  <% @outgoing_bookings.each do |booking| %>
    <div class="card-booking my-4">
      <% if booking.jetpack.photo.attached? %>
        <%= cl_image_tag booking.jetpack.photo.key, height: 120, crop: :fill, class: "card-img-top" %>
      <% else %>
        <img class="card-img-top" src=<%= image_path('default.jpg') %> alt="Default jetpack picture">
      <% end %>
      <div class="card-booking-infos w-100 h-100 row">
        <div class="col-5">
          <h2 class="mb-4"><%= booking.jetpack.title %></h2>
          <p>Booking status: <%= booking.status %></p>
        </div>
        <div class="col-4">
          <h2 class="mb-4 text-truncate"><%= booking.comment %></h2 >
          <p><%= booking.booking_date %></p>
        </div>
        <div class="col-3">
          <%= link_to "Jetpack details", jetpack_path(booking.jetpack), class: "btn btn-warning mb-3" %>
          <%= link_to "Cancel booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
