<%= simple_form_for(jetpack) do |f| %>
  <%= f.input :title %>
  <%= f.input :model %>
  <%= f.input :photo, as: :file %>
  <%= f.input :price %>
  <%= f.input :description %>
  <div class="d-flex justify-content-center">
    <%= f.submit "Add Jetpack", class: "btn btn-orange" %>
  </div>
<% end %>
