<div class="container">
  <h2>Available jetpacks</h2>

  <% @jetpacks.each do |jetpack| %>

    <div class="card-product my-2">
      <% if jetpack.photo.attached? %>
        <%= cl_image_tag jetpack.photo.key, height: 120, crop: :fill %>
      <% else %>
        <img src=<%= image_path('default.jpg') %> alt="Default jetpack picture">
      <% end %>
      <div class="card-product-infos">
        <h2><%= jetpack.title %></h2>
        <p><strong>$<%= jetpack.price %></strong></p>
        <%= link_to "Book now!", jetpack_path(jetpack), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <%= link_to "Add a jetpack", new_jetpack_path %>
</div>
