  <% if @jetpack.photo.attached? %>
    <%= cl_image_tag @jetpack.photo.key, class: "show-banner" %>
  <% else %>
    <img class="show-banner" src=<%= image_path('default.jpg') %> alt="Default jetpack picture">
  <% end %>
  <div class="container mt-3">
    <div class="d-flex justify-content-between">
      <p><%= @jetpack.model %></p>
      <p class="text-secondary"><%= @jetpack.user.username %></p>
    </div>
    <h2 class="text-center"><%= @jetpack.title %></h2>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-8">
        <p><%= @jetpack.description %></p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <h2 class="text-end"><strong>$<%= sprintf("%.2f", @jetpack.price) %></strong></h2>
          <%= simple_form_for [@jetpack, @booking], html: { class: "booking-form"} do |f| %>
            <%= f.input :booking_date %>
            <%= f.input :comment, label: "Comments (100 characters max)" %>
            <%= f.submit "Book now!", class: "btn booking-submit" %>
          <% end %>
      </div>
    </div>
      <%= link_to "Go back", jetpacks_path , class: "btn btn-success"%>
  </div>
