  <% if @jetpack.photo.attached? %>
    <%= cl_image_tag @jetpack.photo.key, class: "show-banner" %>
  <% else %>
    <img class="show-banner" src=<%= image_path('default.jpg') %> alt="Default jetpack picture">
  <% end %>
  <div class="container mt-3">
    <h1 class="text-center"><%= @jetpack.title %></h1>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-8">
        <div class="description">
          <p>Owner: <%= @jetpack.user.username %></p>
          <p>Model: <%= @jetpack.model %></p>
          <p><%= @jetpack.description %></p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <h2 class="text-end"><strong>$<%= sprintf("%.2f", @jetpack.price) %></strong></h2>
        <%= render partial: "bookings/new", locals: {jetpack: @jetpack, booking: @booking} %>
      </div>
      <h1>Leave a Review</h1>
        <%= render partial: "jetpacks/review_form", locals: {jetpack: @jetpack, review: Review.new} %>
        <p><strong>Reviews</strong></p>
        <ul class="list-group">
          <% @jetpack.reviews.each do |review| %>
            <li class="list-group-item"><%= review.content %> - <%= review.user.username %></li>
          <% end %>
        </ul>
        <br>
    </div>
      <%= link_to "Go back", jetpacks_path , class: "btn my-3 btn-purple"%>
  </div>
