<div class="container">
    <div class="card-product my-2">
      <img src="assets/images/default.jpg" />
      <div class="card-product-infos">
        <h2><%= @jetpack.title %></h2>
        <p><%= @jetpack.model %></p>
        <p><strong>$<%= @jetpack.price %>/day</strong></p>
        <p><%= @jetpack.description %></p>
      </div>
    </div>

    <%= link_to "Return to main list", jetpacks_path %>
</div>
