<!DOCTYPE html>
<html>
  <head>
    <title>ToInfinityAndBeyond</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      Welcome <%= current_user.username %>
      <%= link_to "Your Bookings", bookings_index_path %>
      <%= link_to "Available Jetpacks", jetpacks_path %>
      <%= link_to "Bookings of your jetpacks", owner_bookings_path %>
    </nav>
    <%= yield %>
  </body>
</html>
