<!DOCTYPE html>
<html>
  <head>
    <title>To Infinity and Beyond</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar navbar-dark navbar-expand-sm navbar-infinity">
      <div class="d-flex w-100">
        <i><%= link_to "", root_path, class: "navbar-brand fa-solid fa-rocket btn", style: "color: #ff0000;"%></i>
        <h2 class="navbar-brand my-0 flex-grow-1">To Infinity and Beyond</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
            <p class="navbar-welcome-message">Welcome <%= current_user.username %></p>
              <li class="nav-item active">
                <%= link_to "My bookings", bookings_index_path, class: "nav-btn-purple mx-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-btn-gray mx-2" %>
              </li>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Log in", new_user_session_path, class: "nav-btn-purple mx-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-btn-white mx-2" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-content">
      <%= yield %>
    </div>
    <div class="footer">
      <p>Copyright 2050 Tellus LLC</p>
      <p>We are not liable for any injuries or deaths that may occur. Use at your own risk.</p>
    </div>
  </body>
</html>
